{% extends 'base.html' %}
 {% load static %} 
 {% block content %}
 <!-- Showcase -->
 <section id="aboutme" class="text-light mb-5">
  <div class="container about-inner">
    <!-- Alerts -->
    {% include 'partials/_alerts.html' %}
    <div class="row">
      {% if about %} 
      {% for abt in about %}
      <div class="col-md-8">
        <h2 class="text-center mt-4">{{abt.title}}</h2>
        <h3 class="text-center">{{ abt.subtitle }}</h3>
        <p class="lead mt-4">{{ abt.description }}</p>
      </div>
      <div class="col-md-4">
        <div>
          <img
          class="card-img-profile"
          src="{{ abt.photo.url }}"
          alt="profile photo"
          />
          <p class="lead text-center my-3"><a href="{{ abt.resume }}" class="btn btn-outline-info btn-lg mb-3"
        >{{ abt.resume_text }}
      </a></p>
        </div>
      </div>
      {% endfor %} 
      {% else %}
      <div class="col-md-12">
        <p>No Data Available</p>
      </div>
      {% endif %}
    </div>
  </div>
</section>

<section id="skill" class="py-5">
  <div class="container">
    <h3 class="text-center mb-3 text-white">Technologies</h3>
    <hr />
    <div class="row">
      {% if skills %} 
      {% for skill in skills %}
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="card listing-preview">
          <h2 id="dev" class="text-center">
            <span class="text-center"> {{skill.skill_1}} </span>
          </h2>
          <div class="card-body">
            <div class="row text-primary">
              <div class="col-6"><p class="lead">{{ skill.skill_1_1 }}</p></div>
              <div class="col-6"><p class="lead">{{ skill.skill_1_2 }}</p></div>
              <div class="col-6"><p class="lead">{{ skill.skill_1_3 }}</p></div>
               <div class="col-6"><p class="lead">{{ skill.skill_1_4 }}</p></div>
              <div class="col-6"><p class="lead">{{ skill.skill_1_5 }}</p></div>
              <div class="col-6"><p class="lead">{{ skill.skill_1_6 }}</p></div>
              <div class="col-6"><p class="lead">{{ skill.skill_1_7 }}</p></div>
              <div class="col-6"><p class="lead">{{ skill.skill_1_8 }}</p></div>
              <div class="col-6"><p class="lead">{{ skill.skill_1_9 }}</p></div>
              <div class="col-6"><p class="lead">{{ skill.skill_1_10 }}</p></div>
              <div class="col-6"><p class="lead">{{ skill.skill_1_11 }}</p></div>
              <div class="col-6"><p class="lead">{{ skill.skill_1_12 }}</p></div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %} {% else %}
      <div class="col-md-12">
        <p>No Skills Content Available</p>
      </div>
      {% endif %}
    </div>
  </div>
</section>

<section id="listings" class="projects py-3">
  <div class="container">
    <h3 class="text-center text-white">Projects</h3>
    <hr>
    <div class="row">
      {% if projects %} 
      {% for project in projects %}
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="card listing-preview">
          <img class="card-img-top" src="{{ project.photo.url}}" alt="" />
          <div class="card-body">
            <div class="listing-heading text-center">
              <h4 class="text-primary">{{ project.title }}</h4>
              <p class="lead">
                <strong> {{ project.skills_used }} </strong>
              </p>
            </div>
            <hr />
            <div class="row py-2">
              <div class="col-12">
                <p class="lead">{{ project.description }}</p>
              </div>
            </div>
            <hr />
            <a href="{{ project.url_live }}" class="btn btn-dark btn-block"
              ><i class="fa fa-eye mr-1"></i>See Live</a
            >
            <a
              href="{{ project.source_code }}"
              class="btn btn-dark btn-block"
              ><i class="fab fa-github mr-1"></i>Source Code</a
            >
          </div>
        </div>
      </div>
      {% endfor %} {% else %}
      <div class="col-md-12">
        <p>No projects Content Available</p>
      </div>
      {% endif %}
    </div>
  </div>
</section>

<div id="contactme" class="container text-light my-5">
  <div class="row row-content">
    <div class="col-xl-5">
      <p class="lead">
       <h2>Contact Info</h2>
       <a href="#" class="btn btn-link">
         <i class="fa fa-phone text-white"></i> </a
       >(669) 261-4348<br />
       <span class="btn btn-link">
         <i class="fa fa-envelope text-white"></i> </span
       >desie21mn@gmail.com
      </p>
      <h2 class="underline">My Address</h2>
      <p class="lead">
        281 Topeka <br />
        Irvine Californian, CA 92604 <br />
        U.S.A.
      </p>
      <div class="mb-5">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26371637.347481262!2d-113.72313903624479!3d36.210479007295675!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54eab584e432360b%3A0x1c3bb99243deb742!2sUnited%20States!5e0!3m2!1sen!2sus!4v1680289684696!5m2!1sen!2sus" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
    <div class="col-md-7">
    <h2>Get In Touch</h2>
     <hr />
     <form action="#contact" method="POST">
       {% csrf_token %} 
       {% if user.is_authenticated %}
       <input type="hidden" name="user_id" value="{{ user.id }}" />
       {% else %}
       <input type="hidden" name="user_id" value="0" />
       {% endif %}
       <div class="form-group">
         <label for="name" class="col-form-label">Full Name <span class="text-danger">*</span></label>
         <input
           type="text"
           name="name"
           class="form-control"
           placeholder="Full Name"
           required
         />
       </div>
       <div class="form-group">
         <label for="email" class="col-form-label">Your Email <span class="text-danger">*</span></label>
         <input
           type="email"
           name="email"
           class="form-control"
           placeholder="Email"
           required
         />
       </div>
       <div class="form-group">
         <label for="phone" class="col-form-label">Your Phone Number (optional)</label>
         <input
           type="text"
           name="phone"
           class="form-control"
           placeholder="Phone"
         />
       </div>
       <div class="form-group">
         <label for="message" class="col-form-label">Your Message</label>
         <textarea
         rows="7"
           name="message"
           class="form-control"
           placeholder="Message or Comment you would like to share me "
         ></textarea>
       </div>
       <hr />
       <input
         type="submit"
         value="Send"
         class="btn btn-block btn-outline-info mb-5"
       />
     </form>
    </div>
  </div>
</div>

{% endblock %}
