body {
  background-color: #101d2c !important;
}
#login {
  min-height: 80vh;
}
.card {
  box-shadow: 0 3rem 3rem rgba(2, 3, 5, .3);
}
#dev {
  background: #0c0c0c;
  color: #00B7FF;
  text-shadow: 0 3rem 3rem rgba(2, 3, 5, .3);
}

.projects {
  box-shadow: 0 3rem 3rem rgba(2, 3, 5, .1);
}
img {
  width: 100%; }

.logo {
  width: 70px; 
  border-radius: 50%;
}

.navbar {
  opacity: 0.9;
  text-transform: uppercase; }

.social a {
  margin-right: 0.4rem; }

@media (max-width: 768px) {
  #top-bar {
    text-align: center; }
    #top-bar .social {
      text-align: center !important; } }


/* about image background */

#aboutme {
  background: url(../img/mernabt.jpg) top center no-repeat fixed;
  background-size: cover;
  padding: 3rem 0;
}

#aboutme::before {
  content: '';
  position: absolute;
  width: 100%;
  background: rgba(38, 79, 173, 0.8);

}

.about-inner {
  background: rgba(9, 13, 24, 0.5);
}

.card-img-profile {
  border-radius: 50%;
}